<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">
    <!--<appender name="console" class="ch.qos.logback.core.ConsoleAppender">-->
    <!--<filter class="ch.qos.logback.classic.filter.ThresholdFilter">-->
    <!--<level>debug</level>-->
    <!--</filter>-->
    <!--<encoder>-->
    <!--<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %contextName [%thread] %-5level %logger{36}:%line - %msg%n</pattern>-->
    <!--</encoder>-->
    <!--</appender>-->

    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <!--    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">-->
    <!--        &lt;!&ndash;<file>${LOG_FILE}</file>&ndash;&gt;-->
    <!--        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">-->
    <!--            <fileNamePattern>${LOG_FILE}.%d{yyyy-MM-dd}</fileNamePattern>-->
    <!--            <maxHistory>30</maxHistory>-->
    <!--            <totalSizeCap>10GB</totalSizeCap>-->
    <!--        </rollingPolicy>-->
    <!--        <encoder>-->
    <!--            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %contextName [%thread] %-5level %logger{36}:%line - %msg%n</pattern>-->
    <!--        </encoder>-->
    <!--    </appender>-->
    <!--<appender name="raw" class="ch.qos.logback.core.FileAppender">
        <file>/opt/logs/trade/trade.json</file>
        <encoder>
            <pattern>%msg%n</pattern>
        </encoder>
    </appender>-->

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>debug</level>
        </filter>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %contextName [%thread] %-5level %logger{36}:%line - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <!--        <appender-ref ref="FILE"/>-->
        <appender-ref ref="console"/>
    </root>

    <logger name="jdbc.sqlonly" level="info">
    </logger>
    <logger name="jdbc.audit" level="OFF">
    </logger>
    <logger name="jdbc.resultset" level="OFF">
    </logger>
    <logger name="jdbc.connection" level="OFF">
    </logger>

    <logger name="com.jinkebr" level="debug"/>
    <logger name="jdbc.sqltiming" level="OFF">

    </logger>
    <!-- <logger name="json" level="info">
         <appender-ref ref="raw"/>
     </logger>-->
    <logger name="org.hibernate.type.descriptor.sql.BasicBinder" level="trace"/>
</configuration>
